@layer theme, base, reset, antd, components, utilities;

@import url('antd/dist/reset.css') layer(reset);

@import 'tailwindcss';

@theme {
  --color-primary: #1167ff;

  --color-background: #f9fafb;
  --color-foreground: #091734;
}
